{% extends 'base.html' %}

{% block title %} Post a story {% endblock title %}

{% block content %}
<div class="bloc l-bloc" id="bloc-3">
    <div class="container bloc-xxl-lg">
        <div class="row">
            <div class="col">
                <form id="form_1" data-form-type="blocs-form" novalidate data-success-msg="Your message has been sent."
                      data-fail-msg="Sorry it seems that our mail server is not responding, Sorry for the inconvenience!">
                    <div class="form-group">
                        <label class="label-style">
                            Title
                        </label>
                        <input id="name" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label>
                            Message
                        </label><textarea id="message" class="form-control " rows="10" cols="50" required></textarea>
                    </div>
                    <div class="text-center text-lg-left">
                        <button class="bloc-button btn btn-d btn-lg" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %)}